/bin
/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history

resources/db.config

.classpath

.project

.settings/ccw.repl.cmdhistory.prefs

resources/db.config.local

resources/db.config.production

resources/db.config.remoteproduction

resources/db.config.productionlocal

resources/db.config.productionremote
