@CHARSET "UTF-8";

body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
}

.namefield {width: 15em;}
.descriptionfield {width: 35em;}
.budgetfield {width: 5em; }

.error, input[type="text"].error {
    border-color: #b94a48;
    color: #b94a48;
}
